#root {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

/* Custom styles */
.auto-complete {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.auto-complete__results {
	display: flex;
	justify-content: space-between;
}
